 #content-container {
            /* display:flex; */
            max-width: 800px;
            margin: 50px auto;

            background-color: #e0e0e0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            box-sizing: border-box;
            height: 450px;
        }

.content-container input[type="submit"] {
            font-size: 18px;
            padding: 5px 14px;
            /* Add padding for a larger button */
            margin-left: 12px;
            margin-top: 10px;
            background-color: #4CAF50;
            /* Green background color */
            color: white;
            /* White text color */
            border: none;
            /* Remove border */
            border-radius: 5px;
            /* Add border-radius for rounded corners */
            cursor: pointer;
            transition: background-color 0.3s;
            /* Add transition for a smooth hover effect */
        }

.content-container input[type="submit"]:hover {
            background-color: #78051c;
            /* Darker green color on hover */
        }

     
    